* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  position: relative;
  background-color: #fffff1;
}

div#aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 1px solid blue;
  background-color: #eee9e5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 2;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

div#aside div.left {
  width: 33%;
  margin-left: 2%;
  border: 1px solid blue;
}

div#aside div.left a {
  cursor: pointer;
  text-decoration: none;
}

div#aside div.left a h1#asideLogo {
  color: #333333;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  margin-top: 35%;
  margin-bottom: 15%;
  margin-left: 2%;
  font-size: 32px;
}

div#aside div.left ul.aside_kind li {
  margin-bottom: 3%;
}

div#aside div.left ul.aside_kind li a {
  text-decoration: none;
  color: #333333;
  font-family: 'Noto sans Tc';
  font-weight: 300;
  font-size: 26px;
}

div#aside div.middle {
  width: 33%;
  margin-left: 2%;
}

div#aside div.middle ul.public_kind {
  display: none;
  margin-top: 58%;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

div#aside div.middle ul.public_kind li {
  margin-bottom: 2%;
}

div#aside div.middle ul.public_kind li a {
  text-decoration: none;
  color: #333333;
  font-family: 'Noto sans Tc';
  font-weight: 300;
  font-size: 26px;
}

div#aside div.middle ul.mouseShow {
  display: block;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

div#aside div.middle ul.public_kind > li:nth-child(1) {
  margin-bottom: 7%;
}

div#aside div.right {
  width: 33%;
}

div#aside img#asideCancel {
  width: 20px;
  position: absolute;
  right: 5%;
  top: 10%;
  cursor: pointer;
}

div#background {
  position: relative;
}

div#background nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5%;
  left: 2%;
  width: 100%;
}

div#background nav ul {
  width: 33%;
  list-style: none;
}

div#background nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 2%;
}

div#background nav ul li :after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  border-bottom: 0px solid #333333;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div#background nav ul li :hover:after {
  width: 100%;
  border-bottom: 1px solid #333333;
}

div#background nav ul li a {
  position: relative;
  font-size: 14px;
  text-decoration: none;
  color: #333333;
  font-family: 'Noto Sans Tc';
  font-weight: 300;
  z-index: 2;
}

div#background nav ul.right {
  text-align: right;
  margin-right: 3%;
}

div#background nav ul.right li {
  margin-right: 3%;
}

div#background img {
  height: 650px;
}

div#section01 {
  position: absolute;
  width: 100%;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#section01 div.left {
  width: 25%;
}

div#section01 div.left a {
  text-decoration: none;
}

div#section01 div.left a h1#logo {
  color: #333333;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  margin-left: 8%;
  font-size: 32px;
}

div#section01 div.middle {
  width: 35%;
}

div#section01 div.middle p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  color: #333333;
}

div#section01 div.middle h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  color: #333333;
}

div#section01 div.middle a {
  cursor: pointer;
}

div#section01 div.middle a :hover {
  background-color: #333333;
}

div#section01 div.middle a :hover span {
  color: #fffff1;
}

div#section01 div.middle a button {
  background: none;
  border: 1px solid #888888;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 60px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div#section01 div.middle a button span {
  font-size: 14px;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  color: #333333;
  margin-left: 8%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div#section01 div.middle a button img {
  width: 15px;
  margin-right: 2%;
}

div#section01 div.right {
  width: 40%;
}

div#section02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

div#section02 .section02_product {
  width: 25%;
}

div#section02 .section02_product a {
  text-decoration: none;
  position: relative;
  display: block;
  margin: 0 auto;
}

div#section02 .section02_product a :after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 35%;
  width: 0%;
  border-bottom: 0px solid #333333;
  -webkit-transition: all .5s;
  transition: all .5s;
}

div#section02 .section02_product a :hover:after {
  width: 30%;
  border-bottom: 1px solid #333333;
}

div#section02 .section02_product img {
  height: 400px;
}

div#section02 .section02_product h1.section02_title {
  position: relative;
  font-size: 14px;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 5%;
}

div#section03 {
  margin-top: 5%;
}

div#section03 div.section03Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 500px;
}

div#section03 div.section03Container div.left {
  width: 50%;
  background-image: url("../img/index/Aesop_Tame1.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: bottom center;
  -webkit-transition: opacity,1s;
  transition: opacity,1s;
  opacity: 0;
}

div#section03 div.section03Container div.left h2 {
  font-size: 30px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 15%;
}

div#section03 div.section03Container div.left h3 {
  font-size: 16px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 5%;
}

div#section03 div.section03Container div.left P {
  font-size: 14px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 5%;
}

div#section03 div.section03Container div.left a {
  display: block;
  font-size: 16px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 55%;
}

div#section03 div.section03Container div.right {
  width: 50%;
  background-image: url("../img/index/Aesop_Tame.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: bottom center;
  -webkit-transition: opacity,1s;
  transition: opacity,1s;
  opacity: 0;
}

div#section03 div.section03Container div.right h2 {
  font-size: 30px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 15%;
}

div#section03 div.section03Container div.right h3 {
  font-size: 16px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 5%;
}

div#section03 div.section03Container div.right P {
  font-size: 14px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 5%;
}

div#section03 div.section03Container div.right a {
  display: block;
  font-size: 16px;
  font-family: 'Noto Sans TC';
  font-weight: 300;
  color: #FFFEF2;
  text-align: center;
  margin-bottom: 55%;
}

div#section03 div.section03Container div.s03Active {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */