*{
    box-sizing: border-box;
    // overflow-x: hidden;
    // outline: 1px solid red;
}
img{
    width:100%;
}
body{
    position: relative;
    background-color: rgb(238, 233, 229);
}
div#aside{
    display:flex;
    position: absolute;
    left:0;
    width:100%;
    height: 100vh;
    border:1px solid blue;
    background-color: rgb(238, 233, 229);
    // transform:translateX(-100%);
    z-index: 2;
    transition:transform 1.5s;
    div.left{
        width:33%;
        margin-left:2%;
        border:1px solid blue;
        a{
            cursor:pointer;
            img#asideLogo{
                width:150px;
                margin-top:40%;
                margin-bottom:8%;
            }
        }
        ul.aside_kind{
            li{
                margin-bottom:3%;
                a{
                    text-decoration: none;
                    color:#333333;
                    font-family: 'Noto sans Tc';
                    font-weight: 300;
                    font-size:26px;
                }
            }
        }
    }
    div.middle{
        width:33%;
        margin-left:2%;
        ul.public_kind{
            display:none;
            margin-top:58%;
            transition: transform 1.5s;
            transform:translateX(-10%);
            li{
                margin-bottom:2%;
                a{
                    text-decoration: none;
                    color:#333333;
                    font-family: 'Noto sans Tc';
                    font-weight: 300;
                    font-size:26px;
                }
            }
        }
        ul.mouseShow{
            display:block;
        }
        ul.public_kind > li:nth-child(1){
            margin-bottom: 7%;
        }
    }
    div.right{
        width:33%;
    }
    img#asideCancel{
        width:30px;
        position: absolute;
        right:5%;
        top:10%;
        cursor:pointer;
    }
}
div#background{
    position: relative;
    nav{
        display:flex;
        position: absolute;
        top:5%;
        left:2%;
        width:100%;
        ul{
            width:33%;
            list-style: none;
            li{
                display:inline-block;
                list-style: none;
                margin-right:2%;
                :after{
                    content:'';
                    position: absolute;
                    bottom:-2px;
                    left:0;
                    width:0%;
                    border-bottom:0px solid #333333;
                    transition:all .5s;
                }
                :hover:after {
                    width:100%;
                    border-bottom:1px solid #333333;
                }
                a{
                    position: relative;
                    font-size:14px;
                    text-decoration: none;
                    color:#333333;
                    font-family: 'Noto Sans Tc';
                    font-weight: 300;
                    z-index:2;
                    
                    
                }
            }
        }
        ul.right{
            text-align: right;
            margin-right:3%;
            li{
                margin-right:3%;
            }
        }
    }
    img{
        height: 650px;
    }
}
div#section01{
    position: absolute;
    width:100%;
    top:25%;
    display:flex;
    div.left{
        width:25%;
        img#logo{
            margin-left:5%;
            width:200px;
        }
    }
    div.middle{
        width:35%;
        p{
            font-size: 14px;
            margin-bottom:20px;
            line-height: 1.5;
            font-family: 'Noto Sans TC';
            font-weight: 400;
            color:#333333;
        }
        h2{
            font-size: 30px;
            margin-bottom:30px;
            font-family: 'Noto Sans TC';
            font-weight: 400;
            color:#333333;
        }
        a{
            cursor:pointer;
            :hover{
                background-color: #333333;
                span{
                    color:rgb(255, 255, 241);
                }

            }
            button{
                background: none;
                border:1px solid rgb(136, 136, 136);
                cursor:pointer;
                display:flex;
                justify-content: space-between;
                align-items: center;
                width:300px;
                height: 60px;
                transition:all .5s;
                span{
                    font-size: 14px;
                    font-family: 'Noto Sans TC';
                    font-weight: 400;
                    color:#333333;
                    margin-left:8%;
                    transition:all .5s;
                }
                img{
                    width:15px;
                    margin-right:2%;
                }
            }
        }
    }
    div.right{
        width:40%;
    }
}